<launch>

  <node name="control_node" pkg="control_tool" type="control_node">
  </node>
  
  <node name="save_node" pkg="control_tool" type="save_node">
  </node>

  <node name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="pcap" value="$(find control_tool)/data/lidar.pcap" />
  </node>

  <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
    <param name="curves_path" value="$(find rslidar_pointcloud)/data/curves.csv" />
    <param name="angle_path" value="$(find rslidar_pointcloud)/data/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/ChannelNum.csv" />
  </node>

  <node pkg="rviz" name="rviz" type="rviz"  args="-d $(find control_tool)/cfg/demo.rviz"/>

</launch>
